.Login-card {
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    background-color: #F5E7E1;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }
  
  .Login-card h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: #618985;
  }
  
  .Login-card label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #475261;
  }
  
  .Login-card input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #E6D1C9;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  .Login-card input[type="password"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #E6D1C9;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  .Login-card button[type="submit"] {
    display: block;
    background-color: #FF725C;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    align-self: center;
  }

  .Login-card button[type="submit"]:hover {
    background-color: #FF6B5B;
    cursor: pointer;
  }